<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="webproject_Wilson_0129">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <property name="java-output-path" value="/webproject_Wilson_0129/build/classes"/>
        <property name="context-root" value="webproject_Wilson_0129"/>
    </wb-module>
</project-modules>
